@font-face {
    font-family: 'Luminari-Regular';
    src: url('font/Luminari-Regular.ttf');
}


.all{
	border-style: solid;
	border-width: 1px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height:100%;
}
.up{
	border-style: solid;
	border-width: 1px;
	display: flex;
	flex-direction: row;
	height: 75%;
}
.Down{
	border-style: solid;
	border-width: 1px;
	background-image : url("parchemin.png");
	background-size : cover;
	background-repeat : no-repeat;
	background-position : center;
}
.Joueur{
	border-style:solid;
	border-width:1px;
	flex-grow:1;
	background-image : url("parchemin.png");
	background-size : cover;
	background-repeat : no-repeat;
	background-position : center;
}
.middle{
	border-style:solid;
	border-width:1px;
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	background-image : url("parchemin.png");
	background-size : cover;
	background-repeat : no-repeat;
	background-position : center;
}
.Ennemis{
	border-style:solid;
	border-width:1px;
	flex-grow: 1;
	background-image : url("parchemin.png");
	background-size : cover;
	background-repeat : no-repeat;
	background-position : center;
}
.Historique{
	margin-left : 40%;
	display : flex;
	flex-grow: 1;
}
.Objets{
	display : flex;
	flex-direction : row;
}
.plateau{
	display: flex;
	flex-direction : column;
	justify-content : space-between;
	border-top-style : none;
	border-width:1px;
	height: 100%;
}
.RealPlateau{
	display: flex;
	flex-direction : row;
	justify-content : space-between;
	border-top-style : none;
	border-width:1px;
	height: 100%;
}
.grp_Heros{
	display: flex;
	flex-direction: column;
}
.grp_Monstres{
	display: flex;
	flex-direction: column;
}
.Competences{
	border-style:solid;
	border-width:1px;
	border-bottom : none;
	display: flex;
	flex-direction: row;
	justify-content : space-between;
}
.RealCompetences{
	display: flex;
	flex-direction: row;
}
.Competence1{
	display: flex;
	flex-direction: column;
}
.Competence2{
display: flex;
	flex-direction: column;

}
.FinDeTour{
	margin-top : 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.carre{
	width:75px;
	height: 75px;

}
.carre2{
    width:75px;
    height: 75px;

}
.ligne{
	display: flex;
	flex-direction: row;
}
.Heros_0{
	width: 120px;
	height : 120px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin : 10px;
}
.Heros_1{
	width: 120px;
	height : 120px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin : 10px;
}
.Heros_2{
	width: 120px;
	height : 120px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin : 10px;
}
.Monstre_0{
	width: 100px;
	height : 100px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin : 10px;
}
.Monstre_1{
	width: 100px;
	height : 100px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin : 10px;
}
.Monstre_2{
	width: 100px;
	height : 100px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin : 10px;
}

.Column{
	display: flex;
	flex-direction: column;
}

input{
	text-align: center;
	font-family:'Luminari-Regular';
	src: url("font/Luminari-Regular.ttf");
	border-radius: 10px;
	border: none;
	width: 200px;
	height: 150px;
	font-size: 30px;
    background-color:  #6d6565;
	color: red;
}
#S_0{
	width: 75px;
	height: 75px;
	/*opacity: 0;*/
}
#S_1{
	width: 75px;
	height: 75px;
	/*opacity: 0;*/
}
#Ultime{
	width: 75px;
	height: 75px;
	/*opacity: 0;*/
}
#B{
	width: 75px;
	height: 75px;
	/*opacity: 0;*/
}
#End{
	width: 200px;
	height: 100px;

}
#M0{
	width: 100px;
	height: 100px;
	/*opacity: 0;*/
}
#M1{
	width: 100px;
	height: 100px;
	/*opacity: 0;*/
}
#M2{
	width: 100px;
	height: 100px;
	/*opacity: 0;*/
}
#H0{
	width: 100px;
	height: 100px;
	/*opacity: 0;*/
}
#H1{
	width: 100px;
	height: 100px;
	/*opacity: 0;*/
}
#H2{
	width: 100px;
	height: 100px;
	/*opacity: 0;*/
}
.O{	
	width: 100px;
	height: 100px;
	/*opacity: 0;*/
}
#Resolve{
	width: 200px;
	height: 100px;
}
.Resolution{
	margin-top : 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.button{
	display: flex;
	flex-direction: row;
}
img {
	width: 65%;
	display:flex;
	flex-direction: column;
	margin-left: 20%;
}
.Map{
	background-image: url("Map_1-2.jpg");
	background-image: url("Map_3.jpeg");
	background-image: url("Map_4-5.jpeg");
	background-image: url("Map_6.jpeg");
	background: no-repeat;
	width: 100%;
	height: auto;
	background-size: 300px 300px;
}
#Map1{
	margin-left : 0;
	width : 100%;
	height: auto;
}
.bouton{
	display : flex;
	flex-direction : row;
}
.titre{
	display : flex;
}
.Comps{
	display : flex;
	flex-direction :row;
	justify-content : space-between;
}

span{
	font-size:30px;
	font-weight:bold;
	color:#960018;
}
.Basic{
	padding-right : 10px;
}
.Special_0{
	padding-right : 10px;
}
.Special_1{
	padding-right : 10px;
}
h1{
	color:red
}
#victoire{
	width: 220px;
}
